.dragbar {
	cursor: col-resize;
	border-left: 4px solid gray;
	padding-right: var(--reader-padding);
	padding-left: 2px;
}
.readerGroup {
	display: flex;
	width: 100%;
}
@media (max-width: 1200px) {
	.readerGroup {
		flex-direction: column;
	}
	.readerGroup > article {
		overflow: auto;
		padding-left: 0;
	}
	.dragbar {
		cursor: row-resize;
		border-left: none;
		border-top: 4px solid gray;
		padding-bottom: 2px;
	}
}
