@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 0 125 181;
		--color-icon: var(--color-text);
		/** Webmanifest will use first theme in this file. */
		--color-bg: 243 244 246;
		--color-text: 17 24 39;
		--color-focus: 0 0 255;
	}
	.dark {
		--color-bg: 17 24 39;
		--color-text: 243 244 246;
	}
	@media (prefers-color-scheme: dark) { .system { @apply dark } }

	html { overflow: hidden; }

	/* Drawer animation */
	/* Starting state is same as end state. */
	.drawer-animate-start {
		display: none !important;
		opacity: 0;
		transform: var(--transform);
	}
	.drawer-animate {
		--dir: 1;
		&:dir(rtl) { --dir: calc(-1 * var(--dir)); }
		--transform: translateX(calc(var(--dir) * 100%));
		--duration-in: 0.5s;
		--duration-out: 0.3s;

		transition: opacity, transform, overlay, display;
		transition-duration: var(--duration-in);
		/* for transitioning out */
		transition-behavior: allow-discrete;

		&.hidden, 
		&[popover]:not(:popover-open) { 
			transition-duration: var(--duration-out);
			@apply drawer-animate-start;
		}
	}
	/*must be after .drawer-animate for higher specificity*/
	@starting-style { .drawer-animate { @apply drawer-animate-start; } }

	/* Drawer backdrop w/animation */
	.drawer-backdrop-start {
		background: transparent;
		backdrop-filter: none;
	}
	.drawer-backdrop {
		&::backdrop {
			transition: background-color, backdrop-filter;
			transition-duration: var(--duration-in);

			background-color: rgb(var(--color-bg) / 50%);
			backdrop-filter: blur(2px);
		}

		&[popover]:not(:popover-open)::backdrop { 
			transition-duration: var(--duration-out);
			@apply drawer-backdrop-start;
		}
	}
	/*must be after .drawer-backdrop for higher specificity*/
	@starting-style { .drawer-backdrop::backdrop { @apply drawer-backdrop-start; } }

	.icon {
		width: 2em;
		height: 2em;
		background-color: currentColor;
		mask-image: var(--svg);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}

	@font-face {
		font-family: 'Libre Baskerville';
		src: url(/assets/libre-baskerville.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Ezra';
		src: url(/assets/ezra.woff2) format('woff2');
	}

	@font-face {
		font-family: 'KoineGreek';
		src: url(/assets/koine.woff2) format('woff2');
	}
}
