@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 0 125 181;
		--color-icon: var(--color-text);
		/** Webmanifest will use first theme in this file. */
		--color-bg: 243 244 246;
		--color-text: 17 24 39;
	}
	.dark {
		--color-bg: 17 24 39;
		--color-text: 243 244 246;
	}
	@media (prefers-color-scheme: dark) { .system { @apply dark } }

	html { overflow: hidden; }

	#drawer {
		--dir: 1;
		&:dir(rtl) {
			--dir: -1;
		}
		--transform: translateX(calc(var(--dir) * 100%));

		opacity: 0;
		transform: var(--transform);
		transition: opacity .2s, transform .2s, display .2s allow-discrete;
		top: var(--top, 0);
		height: calc(100vh - var(--top, 0));

		&:popover-open {
			opacity: 0.95;
			transform: none;
		}

		&::backdrop {
			background: linear-gradient(
				var(--rot),
				rgba(var(--color-bg) / 0.2) 0%,
				rgba(var(--color-text) / 1) 100%
			);
			opacity: 0.9;
		}
	}

	.icon {
		width: 2em;
		height: 2em;
		background-color: currentColor;
		mask-image: var(--svg);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;	
	}

	@font-face {
		font-family: 'Libre Baskerville';
		src: url(/assets/libre-baskerville.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Ezra';
		src: url(/assets/ezra.woff2) format('woff2');
	}

	@font-face {
		font-family: 'KoineGreek';
		src: url(/assets/koine.woff2) format('woff2');
	}
}
